* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.image{
  position: relative;
}

.image-title {
  opacity: 0;
  transition: .2s ease-in-out;
  background: transparent !important;
}

.image:hover .image-title {
  opacity: 1;
}

.image-save {
  position: absolute !important;
  top: 0;
  right: 0;
}

.image-save:hover {
  text-shadow: #FCB 1px 0 10px;
}

.account-link {
  text-decoration: none ;
  color: inherit;
}

.profile-container {
  padding: 0;
}

.cover-wrapper {
  width: 100%;
  height: auto;
  max-height: 300px;
  text-align: center;
  overflow-y: hidden;
}

.image-container {
  position: relative !important;
}

.upload-icon {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.image-container:hover .upload-icon {
  transition: 0.2s ease-in-out ;
  opacity: 1;
}

@media (min-width: 600px) {
  .profile-container {
    padding: 0 !important;
  }
}

@media (min-width: 1200px) {
  .profile-container {
    max-width: 1400px !important;
  }
}