* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.image-title {
  opacity: 0;
  transition: .2s ease-in-out;
  background: transparent !important;
}

.image-item:hover .image-title {
  opacity: 1;
}

.profile-container {
  padding: 0;
}

@media (min-width: 600px) {
  .profile-container {
    padding: 0 !important;
  }
}

@media (min-width: 1200px) {
  .profile-container {
    max-width: 1400px !important;
  }
}